@model Animal

@{
    ViewData["Title"] = "Add Animal";
}

<html>Add Animal</html>
<form method="post" action="/Home/AddAnimal">
<div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" />
</div>
<div>
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" />
</div>
<div>
    <label for="breed">Breed:</label>
    <select id="breed" name="breed" >
            <option value="Beagle">Beagle</option>
            <option value="Pug">Pug</option>
            <option value="Lab">Lab</option>
            <option value="Pitbull">Pitbull</option>
            <option value="Boxer Bulldog">Boxer Bulldog</option>
            <option value="Mixed">Mixed</option>
            <option value="Other">Other</option>
    </select>
</div>
<div>
    <label for="age">Age:</label>
    <input type="text" id="age" name="age" />
</div>
<div>
    <label for="img">Image URL:</label>
    <input type="text" id="img" name="img" />
</div>
<button type="submit">Add Animal</button>
</form>
