@{
    ViewData["Title"] = "Our Mission";
}
<h1>@ViewData["Title"]</h1>

@*<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Faskleo.askleomedia.com%2Fwp-content%2Fuploads%2F2014%2F07%2Fprivacy.jpg&f=1&nofb=1&ipt=813225b2330ecef91e1b64d679cc9099d80ffe6a0dc9c168dd821a5a9a5ad8cc&ipo=images" height="auto" width="200" style="border-radius:75%" />
<p>All donors and adoptions are kept anonymous unless self disclosed in our testimonials.</p>*@
<p>
    "At Joshua's Pet Sanctuary, our mission is to promote animal adoption and raise awareness about the dramatic impact it has on the world. We believe that every animal deserves a loving home and a chance to thrive. By facilitating the adoption process and connecting prospective pet owners with shelter animals, we aim to reduce the number of homeless and abandoned animals.

    Through our platform, we strive to educate the public about the benefits of animal adoption, including the positive impact on individual lives, communities, and the environment. We advocate for responsible pet ownership, emphasizing the importance of spaying/neutering, vaccinations, and providing proper care and affection.

    We are dedicated to fostering a compassionate and empathetic society by celebrating the unique bond between humans and animals. By promoting animal adoption, we not only save and improve the lives of countless animals but also contribute to the overall well-being and happiness of individuals and families.

    Join us in making a difference. Together, we can create a world where every animal has a loving home and where the profound impact of animal adoption resonates in hearts and communities worldwide."
    
    -Founder, Joshua
</p>
<a href="/Home/Testimonials">View Testimonials</a>
