@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Faskleo.askleomedia.com%2Fwp-content%2Fuploads%2F2014%2F07%2Fprivacy.jpg&f=1&nofb=1&ipt=813225b2330ecef91e1b64d679cc9099d80ffe6a0dc9c168dd821a5a9a5ad8cc&ipo=images" height="auto" width="200" style="border-radius:75%" />
<p>All donors and adoptions are kept anonymous unless self disclosed in our testimonials.</p>
