@model Animal
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>RESULTS</p>


@foreach (var animal in ViewBag.Animals)
{
    <div>
        <img src="@animal.Img" alt="@animal.Name" width="200" height="200" />
        <h2>@animal.Name</h2>
    </div>
}



